/*color: #212121;*/
/*color: #757575;*/
/*color: #2196F3;*/
/* bragraund #E5E5E5 */
/*  color secstion #F5F4FA */


:root {
    --main-color: #212121;
    --paragraph-color: #757575; 
    --changes-color: #2196F3;
}
body {
     background-color:aqua;
     /* color:var(--main-color); */
     font-family: Roboto,sans-serif;
     font-size: 14px;
     letter-spacing: 0.03em;
    }
    a {
        color: inherit; 
    }
    ul {
        list-style: none;
        padding: 0px;
        
    }
    h1,h2,h3,p,ul {
        margin: 0;
    }
    
    .conteiner {
        max-width: 1200px; 
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .header {
        width: 696px;
        margin-right: auto;
         margin-left:auto;
         padding-top: 200px;
        text-align: center;
        
    }
     
     .nav-line{
        display: flex;
}
.nav-item .nav-list + .nav-list{
    margin-left: 50px;
} 
    .nav-line  .nav-list{
        margin-right: 50px;
    } 
    .nav-line  :last-child{
        margin-right: 0px;
    }
    .nav-item {
        display: flex;
    }
    .logo {
        color: #FFFFFF;
        font-family: Raleway,sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        margin-right: 93px;
      
    }
    .studio {
        color:var(--main-color);
    }
    .web {
        color:var(--changes-color);
    }
  address {
    font-style: normal;
  }
  h1 {
    color: #FFFFFF;
    font-family:Roboto, sans-serif ;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
    text-transform: uppercase;
    
  }
  button{
    background-color:var(--changes-color);
    color: #FFFFFF;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
    width: 200px;
    text-align: center;
  }
 a {
    text-decoration: none;
 }
 .nav-header {
    display: flex;
    justify-content: space-between;
 }
  .nav {
    display: flex; 
    align-items: center;
  }
 .nav-button {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    line-height: 1.14;
 }
 .nav .current{
    color:var(--changes-color);
 }
    .nav-button:hover,
    .nav-button:focus{
        color:var(--changes-color);
    }
    .conteiner.item {
        margin-top: 94px;
    } 
    .hide {
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      
    }
    .header-color{
        background: #2F303A;
        width: 1600px;
        height: 600px;
        margin-left:auto;
        margin-right: auto;
       
    }
    .header-button{
        display: inline-block; 
         min-width: 200px; 
         text-align: center;
         text-decoration: none;
        
        padding: 10px;
        border-radius: 4px;
        margin-left: 700px;
        margin-top: 30px;
      cursor: pointer;
    }
    .header-button:hover,
    .header-button:focus{
       background-color: #188CE8;
    }
    .feature{
        display: flex;
        justify-content: space-between;
    }
    .feature li{
       width: 270px;
    }
    .feature-item {
        margin-right: 30px;
    }
    .feature :last-child{
        margin-right: 0px;
    }
    .title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }
    .work {
        background-color: #F5F4FA;
    }
    .title-work {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        width: 376px; 
        margin: auto;
        text-align: center;
    }
     .title-work  {
        padding-top: 94px;
    } 
    .work-studio {
        margin-right: 30px;
    }
    .title-img :last-child{
        margin-right: 0px;
    }

    .title-img{
        display: flex;
        padding-top: 50px;
    }
    .work-team{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .work-people{
        padding-right: 30px;
    }
    .work-team :last-child{
        padding-right: 0px;
    }
    .img-work {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.19;
       
    }
    .paragraph {
        color: var(--paragraph-color);
        font-size: 16px;
        line-height: 1.71;
       
    }
    .footer {
        background-color: #2F303A;
    }
    .footer-button{
        color: #FFFFFF;
        font-weight: 400;
        line-height: 1.71;
        
    }
    .footer-button:hover,
    .footer-button:focus{
        color:var(--changes-color);
    }
    .footer-button.connect{
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-button.connect:hover,
    .footer-button.connect:focus{
        color:var(--changes-color);
    }
    .portfolio-item{
        display: flex;
        justify-content: center;
        
    }
    .portfolio-item .portfolio-button{
        margin-left: 8px;
    }
    .portfolio-item .portfolio-button :last-child {
        margin-left: 0px;
    }
    .img-portfolio {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.06em;
    }
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 34px;
        
    }
    .portfolio-work {
        padding-right: 30px;
    }

    .portfolio :nth-child(3n+3){
        padding-right: 0px;
    }
    .portfolio-button{
        color:var(--main-color);
        background-color: #F5F4FA;
        font-weight: 500;
        line-height: 1.6;
        border-radius: 4px;
        letter-spacing: 0.03em;
    }
    .portfolio-button:hover,
    .portfolio-button:focus{
        background-color:var(--changes-color);
        color:#FFFFFF ;
    }
    .portfolio-button,.pointer {cursor: pointer;}; 
    .portfolio-work {
       
        margin-top: 34px;
        margin-left: 20px;
        outline: 2px solid green;
    }
    
    
  

   